# Blatt 2
## Aufgabe 1
### a)

In [32]:
import pandas as pd

daten = {
    "Wien":   ["Österreich", 414.6, 1805681],
    "Berlin": ["Deutschland", 891.85, 3562166],
    "Zürich": ["Schweiz", 87.88, 378884],
}

index = [ "country", "area", "population" ]

df = pd.DataFrame(daten, index=index).T.stack()

print(df)

Wien    country        Österreich
        area                414.6
        population        1805681
Berlin  country       Deutschland
        area               891.85
        population        3562166
Zürich  country           Schweiz
        area                87.88
        population         378884
dtype: object

### b)

In [3]:
df_sorted = df.sort_index()
print(df_sorted)

Berlin  area               891.85
        country       Deutschland
        population        3562166
Wien    area                414.6
        country        Österreich
        population        1805681
Zürich  area                87.88
        country           Schweiz
        population         378884
dtype: object

### c)

In [38]:
df_swapped_sorted = df.swaplevel().sort_index()
print(df_swapped_sorted)

area        Berlin         891.85
            Wien            414.6
            Zürich          87.88
country     Berlin    Deutschland
            Wien       Österreich
            Zürich        Schweiz
population  Berlin        3562166
            Wien          1805681
            Zürich         378884
dtype: object

## Aufgabe 2
### a)

In [33]:
daten = {
    'Gewicht': [65, 58, 58, 45, 43, 99, 68, 60],
    'Größe':  [1.79, 1.65, 1.72, 1.54, 1.50, 1.89, 1.76, 1.75],
}
index = ['Henry', 'Sarah', 'Elke', 'Lulu', 'Vera', 'Toni', 'Maria', 'Chris']

df2 = pd.DataFrame(daten, index=index)
#df2.index = [ name.lower() for name in df2.index ]

print(df2)

       Gewicht  Größe
Henry       65   1.79
Sarah       58   1.65
Elke        58   1.72
Lulu        45   1.54
Vera        43   1.50
Toni        99   1.89
Maria       68   1.76
Chris       60   1.75

### b)

In [11]:
bmi_values = df2['Gewicht'] / (df2['Größe'] ** 2)

#print(bmi_values)

normalbereich = df2[(bmi_values > 18.5) & (bmi_values < 25)]

print(normalbereich)

       Gewicht  Größe        BMI
Henry       65   1.79  20.286508
Sarah       58   1.65  21.303949
Elke        58   1.72  19.605192
Lulu        45   1.54  18.974532
Vera        43   1.50  19.111111
Maria       68   1.76  21.952479
Chris       60   1.75  19.591837

### c)

In [7]:
lowercase_e = df2[df2.index.str.contains('e')]
print(lowercase_e)

       Gewicht  Größe
Henry       65   1.79
Elke        58   1.72
Vera        43   1.50

### d)

In [8]:
df2['BMI'] = df2['Gewicht'] / (df2['Größe'] ** 2)
print(df2)

       Gewicht  Größe        BMI
Henry       65   1.79  20.286508
Sarah       58   1.65  21.303949
Elke        58   1.72  19.605192
Lulu        45   1.54  18.974532
Vera        43   1.50  19.111111
Toni        99   1.89  27.714790
Maria       68   1.76  21.952479
Chris       60   1.75  19.591837

### e)

In [9]:
df2_bmi_sorted = df2.sort_values('BMI', ascending=False)
print(df2_bmi_sorted)

       Gewicht  Größe        BMI
Toni        99   1.89  27.714790
Maria       68   1.76  21.952479
Sarah       58   1.65  21.303949
Henry       65   1.79  20.286508
Elke        58   1.72  19.605192
Chris       60   1.75  19.591837
Vera        43   1.50  19.111111
Lulu        45   1.54  18.974532

### f)

In [10]:
res = df2[(df2['BMI'] < 20) & (df2.index.str.contains('e'))]
print(res)

      Gewicht  Größe        BMI
Elke       58   1.72  19.605192
Vera       43   1.50  19.111111