# Blatt 3

In [79]:
import pandas as pd

In [60]:
countries_file = 'countries_population.csv'

countries = pd.read_csv(
        countries_file,
        sep=r"\s+(?=\d)",
        engine='python',
        names=['Country', 'Population'],
        thousands=',',
        quotechar="'",
        header=None
    )
countries['Country'] = countries['Country'].str.strip("'")

print(countries.head())

          Country  Population
0           China  1355692576
1           India  1236344631
2  European Union   511434812
3   United States   318892103
4       Indonesia   253609643

## Aufgabe 2

### a)

In [80]:
from pathlib import Path

bundeslaender = pd.read_csv(
    'bundeslaender.txt',
    sep=r"\s+",
    engine='python'
)

scale_columns = ['female', 'male']
bundeslaender[scale_columns] = (bundeslaender[scale_columns] * 1000).astype(int)

bundeslaender['population'] = bundeslaender['female'] + bundeslaender['male']
bundeslaender['density'] = (bundeslaender['population'] / bundeslaender['area']).round(0)

output_path = Path('bundeslaender_density.csv')
bundeslaender.to_csv(output_path, index=False)
print(bundeslaender.head())

                land      area     male   female  population  density
0  Baden-Württemberg  35751.65  5271000  5465000    10736000    300.0
1             Bayern  70551.57  6103000  6366000    12469000    177.0
2             Berlin    891.85  1660000  1736000     3396000   3808.0
3        Brandenburg  29478.61  1267000  1293000     2560000     87.0
4             Bremen    404.28   321000   342000      663000   1640.0

### b)

In [76]:
female_majority = bundeslaender[bundeslaender['female'] > bundeslaender['male']].copy()
print(f'Anzahl der Bundesländer mit mehr Frauen als Männern: {len(female_majority)}')
print(female_majority[['land', 'female', 'male']])

Anzahl der Bundesländer mit mehr Frauen als Männern: 16

                      land   female     male
0        Baden-Württemberg  5465000  5271000
1                   Bayern  6366000  6103000
2                   Berlin  1736000  1660000
3              Brandenburg  1293000  1267000
4                   Bremen   342000   321000
5                  Hamburg   894000   849000
6                   Hessen  3109000  2983000
7   Mecklenburg-Vorpommern   861000   846000
8            Niedersachsen  4076000  3918000
9      Nordrhein-Westfalen  9261000  8797000
10         Rheinland-Pfalz  2069000  1990000
11                Saarland   540000   510000
12                 Sachsen  2191000  2083000
13          Sachsen-Anhalt  1264000  1206000
14      Schleswig-Holstein  1448000  1385000
15               Thüringen  1185000  1150000

### c)

In [78]:
dense_states = bundeslaender[bundeslaender['density'] > 1000].copy()
print(f'Bundesländer mit einer Bevölkerungsdichte > 1000 Einwohner/km² = {len(dense_states)}')
print(dense_states[['land', 'density']])

Bundesländer mit einer Bevölkerungsdichte > 1000 Einwohner/km² = 3
      land  density
2   Berlin  3807.82
4   Bremen  1639.95
5  Hamburg  2308.12

## Aufgabe 3

### a)

In [6]:
start_workdays = pd.Timestamp('2025-12-24')
end_workdays = pd.Timestamp('2026-01-06')
workdays = pd.date_range(start=start_workdays, end=end_workdays, freq='B')

print(f'Arbeitstage zwischen {start_workdays:%d.%m.%Y} und {end_workdays:%d.%m.%Y}: {len(workdays)}')
print('Einzelne Tage:', ', '.join(day.strftime('%d.%m.%Y') for day in workdays))

Arbeitstage zwischen 24.12.2025 und 06.01.2026: 10
Einzelne Tage: 24.12.2025, 25.12.2025, 26.12.2025, 29.12.2025, 30.12.2025, 31.12.2025, 01.01.2026, 02.01.2026, 05.01.2026, 06.01.2026

### b)

In [82]:
start_sundays = pd.Timestamp('2025-12-24')
end_sundays = pd.Timestamp('2027-01-06')
month_starts = pd.date_range(start=start_sundays.normalize(), end=end_sundays.normalize(), freq='MS')
sunday_firsts = [day for day in month_starts if start_sundays <= day <= end_sundays and day.weekday() == 6]

print(f'Sonntage, die auf den 1. eines Monats fallen: {len(sunday_firsts)}')
print('Daten:', ', '.join(day.strftime('%d.%m.%Y') for day in sunday_firsts))

Sonntage, die auf den 1. eines Monats fallen: 3
Daten: 01.02.2026, 01.03.2026, 01.11.2026