# Blatt 3
## Nr.1

In [2]:
import pandas as pd

fname = "Input/countries_population.csv"
column_names=["Country","Population"]
exchange_rates = pd.read_csv(
    fname,
    sep=r"\s+",
    quotechar="'",
    thousands=",",
    header=0,
    index_col=0,
    names=column_names)
print(exchange_rates.head(5))

                Population
Country
India           1236344631
European Union   511434812
United States    318892103
Indonesia        253609643
Brazil           202656788

## Nr.2
### a)

In [3]:
import pandas as pd
fname = "Input/bundeslaender.txt"
column_names=["Land","area", "male", "female"]

exchange_rates=pd.read_csv(
    fname,
    sep=r"\s+",
    header=0,
    #index_col=0
)


df = pd.DataFrame(exchange_rates)
df["population"] = df["male"] + df["female"]
df["density"] = (df["population"] / df["area"])*1000
df["density"] = df["density"].round(0)


print(df)
df.to_csv("Output/personen.csv")

                      land      area  male  female  population  density
0        Baden-Württemberg  35751.65  5271    5465       10736    300.0
1                   Bayern  70551.57  6103    6366       12469    177.0
2                   Berlin    891.85  1660    1736        3396   3808.0
3              Brandenburg  29478.61  1267    1293        2560     87.0
4                   Bremen    404.28   321     342         663   1640.0
5                  Hamburg    755.16   849     894        1743   2308.0
6                   Hessen  21114.79  2983    3109        6092    289.0
7   Mecklenburg-Vorpommern  23180.14   846     861        1707     74.0
8            Niedersachsen  47624.20  3918    4076        7994    168.0
9      Nordrhein-Westfalen  34085.29  8797    9261       18058    530.0
10         Rheinland-Pfalz  19853.36  1990    2069        4059    204.0
11                Saarland   2568.70   510     540        1050    409.0
12                 Sachsen  18415.51  2083    2191        4274    232.0
13          Sachsen-Anhalt  20446.31  1206    1264        2470    121.0
14      Schleswig-Holstein  15799.38  1385    1448        2833    179.0
15               Thüringen  16172.10  1150    1185        2335    144.0

### b)

In [4]:
weiblich_mehr = df[df["female"] > df["male"]]
print(weiblich_mehr)

print("Anzahl:", len(weiblich_mehr))

                      land      area  male  female  population  density
0        Baden-Württemberg  35751.65  5271    5465       10736    300.0
1                   Bayern  70551.57  6103    6366       12469    177.0
2                   Berlin    891.85  1660    1736        3396   3808.0
3              Brandenburg  29478.61  1267    1293        2560     87.0
4                   Bremen    404.28   321     342         663   1640.0
5                  Hamburg    755.16   849     894        1743   2308.0
6                   Hessen  21114.79  2983    3109        6092    289.0
7   Mecklenburg-Vorpommern  23180.14   846     861        1707     74.0
8            Niedersachsen  47624.20  3918    4076        7994    168.0
9      Nordrhein-Westfalen  34085.29  8797    9261       18058    530.0
10         Rheinland-Pfalz  19853.36  1990    2069        4059    204.0
11                Saarland   2568.70   510     540        1050    409.0
12                 Sachsen  18415.51  2083    2191        4274    232.0
13          Sachsen-Anhalt  20446.31  1206    1264        2470    121.0
14      Schleswig-Holstein  15799.38  1385    1448        2833    179.0
15               Thüringen  16172.10  1150    1185        2335    144.0
Anzahl: 16

### c)

In [5]:
dichte_groesser_1000 = df[df["density"] > 1000]
print(dichte_groesser_1000)

print("Anzahl:", len(dichte_groesser_1000))

      land    area  male  female  population  density
2   Berlin  891.85  1660    1736        3396   3808.0
4   Bremen  404.28   321     342         663   1640.0
5  Hamburg  755.16   849     894        1743   2308.0
Anzahl: 3

## Nr.3
### a)

In [6]:
import pandas as pd
from datetime import date

start = date(2025, 12, 24)
end = date(2026, 1, 6)


arbeitstage = pd.bdate_range(start, end)

print(arbeitstage)

print("Es gibt",
      len(arbeitstage),
      "normale Wochentage/reguläre Arbeitstage in den Weihnachtsferien 2025/26.")

DatetimeIndex(['2025-12-24', '2025-12-25', '2025-12-26', '2025-12-29',
               '2025-12-30', '2025-12-31', '2026-01-01', '2026-01-02',
               '2026-01-05', '2026-01-06'],
              dtype='datetime64[ns]', freq='B')
Es gibt 10 normale Wochentage/reguläre Arbeitstage in den Weihnachtsferien 2025/26.

### b)

In [7]:
import pandas as pd

# Zeitraum
dates = pd.date_range("2025-12-24", "2027-01-06")

# Bedingungen:
is_sunday = dates.weekday == 6        # 6 = Sonntag
is_first = dates.day == 1             # 1. des Monats

# Filter
result = dates[is_sunday & is_first]

print(result)

print("Vom 24.12.2025 bis zum 6.01.2027 gibt es",
      len(result),
      "Sonntage, die auf den 1. des Monats fallen.")

DatetimeIndex(['2026-02-01', '2026-03-01', '2026-11-01'], dtype='datetime64[ns]', freq=None)
Vom 24.12.2025 bis zum 6.01.2027 gibt es 3 Sonntage, die auf den 1. des Monats fallen.