# Blatt2
## Nr.1
### a)

In [4]:
import pandas as pd

data = {
    "Wien":   ["Österreich", 414.6, 1805681],
    "Berlin": ["Deutschland", 891.85, 3562166],
    "Zürich": ["Schweiz", 87.88, 378884]
}

index=['country','area','population']
df = pd.DataFrame(data,index=index).T.stack()

print(df)

Wien    country        Österreich
        area                414.6
        population        1805681
Berlin  country       Deutschland
        area               891.85
        population        3562166
Zürich  country           Schweiz
        area                87.88
        population         378884
dtype: object

### b)

In [3]:
import pandas as pd

data = {
    "Wien":   ["Österreich", 414.6, 1805681],
    "Berlin": ["Deutschland", 891.85, 3562166],
    "Zürich": ["Schweiz", 87.88, 378884]
}

index=['country','area','population']
df = pd.DataFrame(data,index=index).T.stack()
df=df.sort_index(level=0)

print(df)

Berlin  area               891.85
        country       Deutschland
        population        3562166
Wien    area                414.6
        country        Österreich
        population        1805681
Zürich  area                87.88
        country           Schweiz
        population         378884
dtype: object

### c)

In [9]:
import pandas as pd

data = {
    "Wien":   ["Österreich", 414.6, 1805681],
    "Berlin": ["Deutschland", 891.85, 3562166],
    "Zürich": ["Schweiz", 87.88, 378884]
}

index=['country','area','population']
df = pd.DataFrame(data,index=index).stack()
df=df.sort_index(level=0)

print(df)

area        Berlin         891.85
            Wien            414.6
            Zürich          87.88
country     Berlin    Deutschland
            Wien       Österreich
            Zürich        Schweiz
population  Berlin        3562166
            Wien          1805681
            Zürich         378884
dtype: object

## Nr.2
### a)

In [14]:
import pandas as pd
df=pd.DataFrame ({
    'Gewicht':[65,58,58,45,43,99,68,60],
    'Größe':[179,165,172,154,150,189,176,175]
},
    index=['Henry','Sarah','Elke','Lulu','Vera','Toni','Maria','Chris']
)

print(df)

       Gewicht  Größe
Henry       65    179
Sarah       58    165
Elke        58    172
Lulu        45    154
Vera        43    150
Toni        99    189
Maria       68    176
Chris       60    175

### b)

In [11]:
import pandas as pd
df=pd.DataFrame (
    {
        'Gewicht':[65,58,158,145,143,199,68,20],
        'Größe':[179,165,172,154,150,189,176,175]
    },
    index=['Henry','Sarah','Elke','Lulu','Vera','Toni','Maria','Chris']
)

bmi=df.Gewicht/(df.Größe/100)**2
cond1=bmi>=18.5
cond2=bmi<25
print(df[cond1&cond2])

       Gewicht  Größe
Henry       65    179
Sarah       58    165
Maria       68    176

### c)

In [10]:
import pandas as pd
df=pd.DataFrame (
    {
        'Gewicht':[65,58,58,45,43,99,68,60],
        'Größe':[179,165,172,154,150,189,176,175]
    },
    index=['Henry','Sarah','Elke','Lulu','Vera','Toni','Maria','Chris']
)
cond1=df.index.str.contains('e')
print(df[cond1])

       Gewicht  Größe
Henry       65    179
Elke        58    172
Vera        43    150

### d)

In [12]:
import pandas as pd
df=pd.DataFrame (
    {'Gewicht':[65,58,58,45,43,99,68,60],
     'Größe':[179,165,172,154,150,189,176,175]
     },
    index=['Henry','Sarah','Elke','Lulu','Vera','Toni','Maria','Chris']
)

bmi=df.Gewicht/(df.Größe/100)**2
df.loc[:,'BMI']=bmi
print(df)

       Gewicht  Größe        BMI
Henry       65    179  20.286508
Sarah       58    165  21.303949
Elke        58    172  19.605192
Lulu        45    154  18.974532
Vera        43    150  19.111111
Toni        99    189  27.714790
Maria       68    176  21.952479
Chris       60    175  19.591837

### e)

In [23]:
import pandas as pd
df=pd.DataFrame (
    {'Gewicht':[65,58,58,45,43,99,68,60],
     'Größe':[179,165,172,154,150,189,176,175]
     },
    index=['Henry','Sarah','Elke','Lulu','Vera','Toni','Maria','Chris']
)

bmi=df.Gewicht/(df.Größe/100)**2
df.loc[:,'BMI']=bmi
df=df.sort_values('BMI', ascending=False)
print(df)

       Gewicht  Größe        BMI
Lulu        45    154  18.974532
Vera        43    150  19.111111
Chris       60    175  19.591837
Elke        58    172  19.605192
Henry       65    179  20.286508
Sarah       58    165  21.303949
Maria       68    176  21.952479
Toni        99    189  27.714790

### f)

In [25]:
import pandas as pd
df=pd.DataFrame (
    {'Gewicht':[65,58,58,45,43,99,68,60],
     'Größe':[179,165,172,154,150,189,176,175]
     },
    index=['Henry','Sarah','Elke','Lulu','Vera','Toni','Maria','Chris']
)

bmi=df.Gewicht/(df.Größe/100)**2
df.loc[:,'BMI']=bmi

cond1=df.BMI<20
cond2=df.index.str.contains('e')

print(df[cond1&cond2])

      Gewicht  Größe        BMI
Elke       58    172  19.605192
Vera       43    150  19.111111